body {
  display: flex;
  flex-direction: column;
}
#controls {
  flex: none;
}
#stage {
  flex: auto;
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: lightgoldenrodyellow;
  }
}

.row {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  width: 300%;
  height: 300%;
  border: 2px solid blue;
}

#target {
  background: rgba(255, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.resizer {
  position: relative;
}

.resizeBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background: red;
  opacity: 0.3;
}
