body {
  display: flex;
  flex-direction: column;
}
#controls {
  flex: none;
}
#stage {
  flex: auto;
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: lightgoldenrodyellow;
  }
}

#canvas > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.columns {
  display: flex;
  width: 100%;
  height: 100%;
}

.column {
  width: 100%;
  height: 100%;
}

#target,
#comparison {
  position: relative;
  border: 2px solid red;
  min-height: 100px;
  min-width: 200px;
  max-height: 300px;
  max-width: 320px;
  padding: 5px 50px 15px 20px;
}

#comparison {
  overflow: hidden;
}

.resize {
  overflow: hidden;
  background: blue;
  border: 1px solid black;
  padding: 10px;
}

.percent {
  height: 50%;
  background: purple;
  border: 1px solid black;
  padding: 10px;
}

.end {
  position: relative;
  background: green;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: none;
}

.end::before {
  content: '';
  position: absolute;
  display: block;
  top: -11px;
  right: -11px;
  bottom: -11px;
  left: -11px;
  background: green;
  z-index: -1;
  opacity: 0.5;
}

.padding0 {
  padding: 0;
}
.padding10 {
  padding: 10px;
}
.padding50 {
  padding: 50px;
}

.border2 {
  border: 2px solid red;
}
.border10 {
  border: 10px solid red;
}
.border0 {
  border: none;
}

.heightAuto {
  height: auto;
}
.height200 {
  height: 200px;
}
.heightHundred {
  height: 100%;
}

.widthAuto {
  width: auto;
  float: left;
}
.width200 {
  width: 200px;
}
.widthHundred {
  width: 100%;
}

.boxSizingBorderBox {
  box-sizing: border-box;
}
.boxSizingContentBox {
  box-sizing: content-box;
}

.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}

.directionltr {
  direction: ltr;
}
.directionRTL {
  direction: rtl;
}

.resizer {
  position: relative;
}

.resizeBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background: red;
  opacity: 0.3;
}

/*
.os-environment::-webkit-scrollbar,
.os-viewport::-webkit-scrollbar,
.os-environment::-webkit-scrollbar-corner,
.os-viewport::-webkit-scrollbar-corner {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  visibility: hidden !important;
  background: transparent !important;
}

div::-webkit-scrollbar:horizontal {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  visibility: hidden !important;
  background: transparent !important;
}
div::-webkit-scrollbar:vertical {
  display: block !important;
  width: 10px !important;
  height: 10px !important;
  background: red;
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background: green;
}
*/
