@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url('/OverlayScrollbars/font/inter/inter-variable-slnt-wght.woff2')
      format('woff2 supports variations'),
    url('/OverlayScrollbars/font/inter/inter-variable-slnt-wght.woff2') format('woff2-variations');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
