{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "lf",
  "parser": "babel-ts",
  "overrides": [
    {
      "files": "*.html",
      "options": { "parser": "html" }
    },
    {
      "files": "*.css",
      "options": { "parser": "css" }
    },
    {
      "files": "*.scss",
      "options": { "parser": "scss" }
    },
    {
      "files": "*.vue",
      "options": { "parser": "vue" }
    },
    {
      "files": "*.component.html",
      "options": { "parser": "angular" }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
