* {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
}
#controls {
  flex: none;
}
#stage {
  flex: auto;
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: lightgoldenrodyellow;
  }
}

.element {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.nsh {
  .os-environment-scrollbar-hidden {
    scrollbar-width: auto !important;
  }
  .os-environment-scrollbar-hidden::-webkit-scrollbar,
  .os-environment-scrollbar-hidden::-webkit-scrollbar-corner {
    display: block !important;
  }
}

.os-scrollbar {
  opacity: 1 !important;
  visibility: visible !important;
  background: red !important;
}
