/**
 * un-hide native scrollbars
 * changes to this styles need to be reflected in the structure styles to correctly revert scrollbar hiding
 * use `:not(#osFakeId)` to increase specificity over the structure styles
 */
[data-overlayscrollbars-initialize]:not([data-overlayscrollbars-viewport]):not(#osFakeId) {
  scrollbar-width: unset !important;
}
[data-overlayscrollbars-initialize]:not([data-overlayscrollbars-viewport]):not(
    #osFakeId
  )::-webkit-scrollbar,
[data-overlayscrollbars-initialize]:not([data-overlayscrollbars-viewport]):not(
    #osFakeId
  )::-webkit-scrollbar-corner {
  appearance: unset !important;
  display: unset !important;
  width: unset !important;
  height: unset !important;
}
