@import './sizeobserver.scss';
@import './trinsicobserver.scss';

.os-environment {
  --css-custom-prop: -1;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  height: 200px;
  width: 200px;
  z-index: var(--css-custom-prop);

  div {
    width: 200%;
    height: 200%;
    margin: 10px 0;
  }

  &.os-environment-flexbox-glue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    min-height: 200px;
    min-width: 200px;

    div {
      flex: auto;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &.os-environment-flexbox-glue-max {
    max-height: 200px;

    div {
      overflow: visible;

      &::before {
        content: '';
        display: block;
        height: 999px;
        width: 999px;
      }
    }
  }
}

/* fix restricted measuring */
.os-environment:before,
.os-environment:after,
.os-content:before,
.os-content:after {
  content: '';
  display: table;
  width: 0.01px;
  height: 0.01px;
  line-height: 0;
  font-size: 0;
  flex-grow: 0;
  flex-shrink: 0;
  visibility: hidden;
}
.os-environment,
.os-viewport {
  -ms-overflow-style: scrollbar !important;
}
.os-viewport-scrollbar-styled.os-environment,
.os-viewport-scrollbar-styled.os-viewport {
  scrollbar-width: none !important;
}
.os-viewport-scrollbar-styled.os-environment::-webkit-scrollbar,
.os-viewport-scrollbar-styled.os-viewport::-webkit-scrollbar,
.os-viewport-scrollbar-styled.os-environment::-webkit-scrollbar-corner,
.os-viewport-scrollbar-styled.os-viewport::-webkit-scrollbar-corner {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  visibility: hidden !important;
  background: transparent !important;
}

.os-host,
.os-padding {
  position: relative;
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.os-padding,
.os-viewport {
  box-sizing: border-box;
  position: relative;
  flex: auto !important;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
  max-width: 100%;
}

.os-viewport {
  --viewport-arrange-width: 0;
  --viewport-arrange-height: 0;

  &.os-viewport-arrange::before {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    min-width: 1px;
    min-height: 1px;
    width: var(--viewport-arrange-width);
    height: var(--viewport-arrange-height);
  }
}
