/**
 * hide native scrollbars
 * changes to this styles need to be reflected in the environment styles to correctly detect scrollbar hiding
 */

[data-overlayscrollbars-initialize],
[data-overlayscrollbars-viewport~='scrollbarHidden'] {
  scrollbar-width: none !important;
}
[data-overlayscrollbars-initialize]::-webkit-scrollbar,
[data-overlayscrollbars-initialize]::-webkit-scrollbar-corner,
[data-overlayscrollbars-viewport~='scrollbarHidden']::-webkit-scrollbar,
[data-overlayscrollbars-viewport~='scrollbarHidden']::-webkit-scrollbar-corner {
  appearance: none !important;
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/**
 * elements wont suddenly clip after initialization is done
 */

[data-overlayscrollbars-initialize]:not([data-overlayscrollbars]):not(html):not(body) {
  overflow: auto;
}

/**
 * applied to body 
 */
html[data-overlayscrollbars-body] {
  overflow: hidden;
}
html[data-overlayscrollbars-body],
html[data-overlayscrollbars-body] > body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html[data-overlayscrollbars-body] > body {
  overflow: visible;
  margin: 0;
}

/**
 * structure setup 
 */
[data-overlayscrollbars] {
  position: relative;
}

[data-overlayscrollbars~='host'], // `~="host"` is only needed because `[data-overlayscrollbars]:not([data-overlayscrollbars-viewport])` specificity is too high
[data-overlayscrollbars-padding] {
  display: flex;
  align-items: stretch !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  scroll-behavior: auto !important;
}

[data-overlayscrollbars-padding],
[data-overlayscrollbars-viewport]:not([data-overlayscrollbars]) {
  box-sizing: inherit;
  position: relative; // needed for correct padding styles
  flex: auto !important;
  height: auto;
  width: 100%;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 0;
}

[data-overlayscrollbars-viewport] {
  &:not([data-overlayscrollbars]) {
    --os-vaw: 0;
    --os-vah: 0;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  &[data-overlayscrollbars-viewport~='arrange']::before {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    min-width: 1px;
    min-height: 1px;
    width: var(--os-vaw);
    height: var(--os-vah);
  }
}

[data-overlayscrollbars],
[data-overlayscrollbars-padding],
[data-overlayscrollbars-viewport] {
  overflow: hidden !important;
}

[data-overlayscrollbars~='noClipping'],
[data-overlayscrollbars-padding~='noClipping'] {
  overflow: visible !important;
}

[data-overlayscrollbars-viewport~='measuring'] {
  overflow: hidden !important;
  scroll-behavior: auto !important;
  scroll-snap-type: none !important;
}

[data-overlayscrollbars-viewport~='overflowXVisible']:not(
    [data-overlayscrollbars-viewport~='measuring']
  ) {
  overflow-x: visible !important;
}
[data-overlayscrollbars-viewport~='overflowXHidden'] {
  overflow-x: hidden !important;
}
[data-overlayscrollbars-viewport~='overflowXScroll'] {
  overflow-x: scroll !important;
}
[data-overlayscrollbars-viewport~='overflowYVisible']:not(
    [data-overlayscrollbars-viewport~='measuring']
  ) {
  overflow-y: visible !important;
}
[data-overlayscrollbars-viewport~='overflowYHidden'] {
  overflow-y: hidden !important;
}
[data-overlayscrollbars-viewport~='overflowYScroll'] {
  overflow-y: scroll !important;
}

[data-overlayscrollbars-viewport~='noContent']:not(#osFakeId) {
  font-size: 0 !important;
  line-height: 0 !important;
}
// use `:not(#osFakeId)` to increase specificity
[data-overlayscrollbars-viewport~='noContent']:not(#osFakeId)::before,
[data-overlayscrollbars-viewport~='noContent']:not(#osFakeId)::after,
[data-overlayscrollbars-viewport~='noContent']:not(#osFakeId) > * {
  display: none !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

[data-overlayscrollbars-viewport~='scrollbarPressed'] {
  scroll-behavior: auto !important;
  scroll-snap-type: none !important;
}

[data-overlayscrollbars-content] {
  box-sizing: inherit;
}

/**
 * Display contents to bridge any flickering during deferred initialization.
 */
[data-overlayscrollbars-contents]:not(#osFakeId):not([data-overlayscrollbars-padding]):not(
    [data-overlayscrollbars-viewport]
  ):not([data-overlayscrollbars-content]) {
  display: contents;
}

/**
 * optional & experimental grid mode
 */

[data-overlayscrollbars-grid],
[data-overlayscrollbars-grid] [data-overlayscrollbars-padding] {
  display: grid;
  grid-template: 1fr / 1fr;
}
[data-overlayscrollbars-grid] > [data-overlayscrollbars-padding],
[data-overlayscrollbars-grid] > [data-overlayscrollbars-viewport],
[data-overlayscrollbars-grid]
  > [data-overlayscrollbars-padding]
  > [data-overlayscrollbars-viewport] {
  height: auto !important;
  width: auto !important;
}
