/**
 * environment setup 
 */

.os-environment {
  scroll-behavior: auto !important;
  --os-custom-prop: -1;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  height: 200px;
  width: 200px;
  z-index: var(--os-custom-prop);

  div {
    width: 200%;
    height: 200%;
    margin: 10px 0;
  }

  &.os-environment-flexbox-glue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    min-height: 200px;
    min-width: 200px;

    div {
      flex: auto;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &.os-environment-flexbox-glue-max {
    max-height: 200px;

    div {
      overflow: visible;

      &::before {
        content: '';
        display: block;
        height: 999px;
        width: 999px;
      }
    }
  }
}

/**
 * hide native scrollbars
 */

.os-environment,
[data-overlayscrollbars-viewport] {
  -ms-overflow-style: scrollbar !important;
}
[data-overlayscrollbars-initialize],
[data-overlayscrollbars~='scrollbarHidden'],
[data-overlayscrollbars-viewport~='scrollbarHidden'],
.os-environment-scrollbar-hidden {
  scrollbar-width: none !important;
}
[data-overlayscrollbars-initialize]::-webkit-scrollbar,
[data-overlayscrollbars-initialize]::-webkit-scrollbar-corner,
[data-overlayscrollbars~='scrollbarHidden']::-webkit-scrollbar,
[data-overlayscrollbars~='scrollbarHidden']::-webkit-scrollbar-corner,
[data-overlayscrollbars-viewport~='scrollbarHidden']::-webkit-scrollbar,
[data-overlayscrollbars-viewport~='scrollbarHidden']::-webkit-scrollbar-corner,
.os-environment-scrollbar-hidden::-webkit-scrollbar,
.os-environment-scrollbar-hidden::-webkit-scrollbar-corner {
  appearance: none !important;
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/**
 * elements wont suddenly crop after initialization is done
 */

[data-overlayscrollbars-initialize]:not([data-overlayscrollbars]):not(html):not(body) {
  overflow: auto;
}

/**
 * applied to body 
 */

html[data-overlayscrollbars] {
  box-sizing: border-box;
  margin: 0;
  // not using width & height styles here to fix: https://github.com/KingSora/OverlayScrollbars/issues/601
}
html[data-overlayscrollbars~='body'],
html[data-overlayscrollbars~='body'] > body {
  width: 100%;
  height: 100%;
}
html[data-overlayscrollbars~='viewport'] > body {
  overflow: visible;
}

/**
 * structure setup 
 */
[data-overlayscrollbars~='host'],
[data-overlayscrollbars-padding] {
  display: flex;
  align-items: stretch !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

[data-overlayscrollbars-padding],
[data-overlayscrollbars-viewport] {
  box-sizing: inherit;
  position: relative; // needed for correct padding styles
  flex: auto !important;
  height: auto;
  width: 100%;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 0;
}

[data-overlayscrollbars-viewport] {
  --os-vaw: 0;
  --os-vah: 0;

  &[data-overlayscrollbars-viewport~='arrange']::before {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    min-width: 1px;
    min-height: 1px;
    width: var(--os-vaw);
    height: var(--os-vah);
  }
}

[data-overlayscrollbars-padding],
[data-overlayscrollbars-viewport] {
  overflow: hidden;
}

[data-overlayscrollbars~='host'],
[data-overlayscrollbars~='viewport'] {
  position: relative;
  overflow: hidden;
}
[data-overlayscrollbars~='overflowVisible'],
[data-overlayscrollbars-padding~='overflowVisible'],
[data-overlayscrollbars-viewport~='overflowVisible'] {
  overflow: visible;
}
[data-overlayscrollbars-overflow-x='hidden'] {
  overflow-x: hidden;
}
[data-overlayscrollbars-overflow-x='scroll'] {
  overflow-x: scroll;
}
[data-overlayscrollbars-overflow-x='hidden'] {
  overflow-y: hidden;
}
[data-overlayscrollbars-overflow-y='scroll'] {
  overflow-y: scroll;
}

[data-overlayscrollbars~='scrollbarPressed'],
[data-overlayscrollbars~='scrollbarPressed'] [data-overlayscrollbars-viewport] {
  scroll-behavior: auto !important;
}

[data-overlayscrollbars-content] {
  box-sizing: inherit;
}

/**
 * Display contents to bridge any flickering during deferred initialization.
 */
[data-overlayscrollbars-contents]:not([data-overlayscrollbars-padding]):not(
    [data-overlayscrollbars-viewport]
  ):not([data-overlayscrollbars-content]) {
  display: contents;
}

/**
 * optional & experimental grid mode
 */

[data-overlayscrollbars-grid],
[data-overlayscrollbars-grid] [data-overlayscrollbars-padding] {
  display: grid;
  grid-template: 1fr / 1fr;
}
[data-overlayscrollbars-grid] > [data-overlayscrollbars-padding],
[data-overlayscrollbars-grid] > [data-overlayscrollbars-viewport],
[data-overlayscrollbars-grid]
  > [data-overlayscrollbars-padding]
  > [data-overlayscrollbars-viewport] {
  height: auto !important;
  width: auto !important;
}
