html,
body {
  margin: unset;
  padding: unset;
  width: unset;
  height: unset;
}

html.padding {
  padding: 20px 5px 8px 13px;

  body {
    padding: 20px 5px 8px 13px;
  }
}

html.margin {
  margin: 3px 20px 12px 7px;

  body {
    margin: 3px 20px 12px 7px;
  }
}

#controls {
  position: fixed;
  flex: none;
  z-index: 1;
}

#content {
  background: rgba(255, 0, 0, 0.4);
  height: 150vh;
  width: 150vw;
  position: relative;
}

#content::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid blue;
}

#scrollTarget {
  background: green;
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}

body.nsh {
  .os-environment-scrollbar-hidden {
    scrollbar-width: auto !important;
  }
  .os-environment-scrollbar-hidden::-webkit-scrollbar,
  .os-environment-scrollbar-hidden::-webkit-scrollbar-corner {
    display: block !important;
  }
}
