.os-host,
.os-padding {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.os-padding,
.os-viewport {
  box-sizing: border-box;
  position: relative;
  flex: auto;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
  max-width: 100%;
  z-index: 0;
}

.os-content {
  position: relative;
  z-index: 0;
}
