body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
#controls {
  flex: none;
}
#stage {
  flex: auto;
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: lightgoldenrodyellow;
  }
}
#stageResizer {
  padding-right: 20px;
}

#bodyOverflow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.resizeBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background: black;
}

.row {
  display: flex;
  inline-size: 100%;
  block-size: 50%;
}

#targetA {
  inline-size: 50%;
  block-size: 100%;
  background: rgba(255, 0, 0, 0.3);
}

#targetB {
  inline-size: 50%;
  block-size: 100%;
  direction: rtl;
  background: rgba(255, 0, 255, 0.3);
}

#targetC {
  inline-size: 50%;
  block-size: 100%;
  background: rgba(0, 255, 0, 0.3);
}

#targetD {
  inline-size: 50%;
  block-size: 100%;
  direction: rtl;
  background: rgba(0, 0, 255, 0.3);
}

.content {
  width: 5000px;
  height: 5000px;
  border: 4px solid black;
}

.scrollPointHorizontal {
  position: absolute;
  inset-inline-end: 0;
  inset-inline-start: auto;
  background: red;
  inline-size: 6px;
  block-size: 6px;
  inset-block-start: 0;
  z-index: 999;
  pointer-events: none;
}

.scrollPointVertical {
  position: absolute;
  inset-block-end: 0;
  inset-block-start: auto;
  background: red;
  inline-size: 6px;
  block-size: 6px;
  inset-inline-start: 0;
  z-index: 999;
  pointer-events: none;
}
