*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --foreground-color-rgb: 249 103 67;
  --background-color-rgb: 26 26 26;
  --foreground-color: rgb(var(--foreground-color-rgb));
  --background-color: rgb(var(--background-color-rgb));
  --text-color: #e6e6e6;
}

* {
  outline-width: 2px;
  outline-color: var(--foreground-color);
  outline-offset: 2px;
}

*:focus-visible {
  outline: 2px solid var(--foreground-color);
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: safe center;
}

footer {
  margin-top: 25vh;
  padding: 3rem 0;
}

section {
  margin: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s, background-size 250ms;
  padding: 0.25rem 0.5rem;
  background: linear-gradient(0deg, currentColor, currentColor) no-repeat right bottom / 0 2px;
}

a:hover {
  text-underline-offset: 0.2em;
  background-size: 100% 2px;
  background-position-x: left;
}

a:hover,
a:focus {
  color: var(--foreground-color);
}

a:focus-visible {
  border-radius: 2px;
}

button {
  appearance: none;
  display: block;
  background: var(--foreground-color);
  border: none;
  color: var(--background-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.625rem;
  transition: color 0.15s, outline-color 0.15s;
  transform: scale(1);
  outline: 2px solid transparent;
  white-space: nowrap;
}

button:hover,
button:focus {
  outline-color: var(--foreground-color);
}

img {
  width: 100%;
  height: 100%;
}

.overlayscrollbars-svelte {
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
  resize: both;
  overflow: auto;
  border-radius: 6px;
  border: 2px solid var(--foreground-color);
  box-shadow: rgb(var(--foreground-color-rgb) / 0.14) 0 0.875rem 3.125rem;
}

.logo {
  width: 32rem;
  height: 32rem;
  padding: 1rem;
  display: block;
  pointer-events: none;
  user-select: none;
  backdrop-filter: brightness(88%) contrast(1.012);
  margin: 0 auto;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0;
  margin: 0.25rem 0;
}

.items {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  justify-content: safe center;
  align-items: center;
  align-items: safe center;
  padding: 0.75rem;
  backdrop-filter: brightness(88%) contrast(1.012);
  border-radius: 12px;
}

.event {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  font-family: monospace;
}

.event.active {
  color: var(--foreground-color);
  outline-offset: 2px;
  outline: 2px solid var(--foreground-color);
  background: rgb(var(--foreground-color-rgb) / 0.15);
}
